<article>
	<a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
	<h3><a href='#'>Amet varius aliquam</a></h3>
	<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
	<ul class="actions">
		<li><a href="#" class="button">Read More</a></li>
	</ul>
	<div class='post-footer'>
		<p>Posted <span class='clr'>30 mins</span> ago</p>
		<ul class="icons">
			<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
			<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
		</ul>
	</div>
</article>